.DS_Store

mobile/application/cache/*
mobile/application/config/config.php
!mobile/application/cache/index.html
mobile/application/logs/*
!mobile/application/logs/index.html
!mobile/application/*/.htaccess
!mobile/application/cache/index.html
mobile/application/logs/*
!mobile/application/logs/index.html
!mobile/application/*/.htaccess


www/application/cache/*
www/application/config/config.php
!www/application/cache/index.html
www/application/logs/*
!www/application/logs/index.html
!www/application/*/.htaccess
!www/application/cache/index.html
www/application/logs/*
!www/application/logs/index.html
!www/application/*/.htaccess

composer.lock
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
